Django>=4.2,<6.1
djangorestframework
drf-spectacular
django-environ
psycopg2-binary
redis
celery
scikit-learn
pandas
requests
pytest
pytest-django
django-prometheus
python-json-logger
django-cors-headers
